<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:group {"tagName":"main","className":"wavira-layout wavira-main","layout":{"type":"default"}} -->
<main class="wp-block-group wavira-layout wavira-main">
<!-- wp:query-title {"type":"archive","showPrefix":false} /-->
<!-- wp:term-description /-->
<!-- wp:wavira/player {"context": "genre", "sticky": false} /-->
<!-- wp:query {"queryId":1,"query":{"perPage":12,"pages":0,"offset":0,"postType":"wavira_track","order":"desc","orderBy":"date","inherit":false},"layout":{"type":"grid","columnCount":3}} -->
<div class="wp-block-query">
<!-- wp:post-template {"layout":{"type":"grid","columnCount":3}} -->
<!-- wp:post-featured-image {"aspectRatio":"1"} /-->
<!-- wp:post-title {"level":3,"isLink":true} /-->
<!-- wp:post-terms {"term":"wavira_genre","separator":"","prefix":""} /-->
<!-- /wp:post-template -->
<!-- wp:query-no-results -->
<!-- wp:pattern {"slug":"wavira/hidden-no-results"} /-->
<!-- /wp:query-no-results -->
<!-- wp:query-pagination {"layout":{"type":"flex","justifyContent":"space-between"}} -->
<!-- wp:query-pagination-previous /-->
<!-- wp:query-pagination-numbers /-->
<!-- wp:query-pagination-next /-->
<!-- /wp:query-pagination -->
</div>
<!-- /wp:query -->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
<!-- wp:template-part {"slug":"player-bar"} /-->
